{%load static%}
<hr>
<footer>
    <div class="container">
        <div class="footer-section">
            <div class="footer-content">
               <h2>Our Services</h2>
               <ul>
                   <li>Midwifery</li>
                   <li>Nursing</li>
                   <li>Biomedical Science</li>
                   <li>Chemistry</li>
                   <li>Education</li>
                   <li>Administration</li>
               </ul>
            </div>
            <div class="footer-content">
                <h2>Resources</h2>
                <ul>
                    <li>Midwifery</li>
                    <li>Nursing</li>
                    <li>Biomedical Science</li>
                    <li>Chemistry</li>
                    <li>Education</li>
                    <li>Administration</li>
                </ul>
            </div>
            <div class="footer-content">
                <h2>Visit Us</h2>
                <ul>
                    <li>Midwifery</li>
                    <li>Nursing</li>
                    <li>Biomedical Science</li>
                    <li>Chemistry</li>
                    <li>Education</li>
                    <li>Administration</li>
                </ul>
            </div>
        </div>
        <h2 id="service-h1">Connect</h2>
        <div class="social-connect">
            <div class="icon-section">
                <img class="icon" src="{%static 'images/instagram.jpg'%}" alt="">
               <small>instagram</small>
            </div>
            <div class="icon-section">
                <img class="icon" src="{%static 'images/facebook.png'%}" alt="">
                <small>facebook</small>
            </div>
            <div class="icon-section">
                <img class="icon" src="{%static 'images/twitter.png'%}" alt="">
                <small>twitter</small>
            </div>
            <div class="icon-section">
                <img class="icon" src="{%static 'images/youtube.png'%}" alt="">
                <small>Youtube</small>
            </div>
        </div>
    </div>
</footer>