{%extends 'core/layout.html'%}
{%load static%}
{%block content%}
<div class="">
    <div class="hero">
        <img src="{%static 'images/medical1.jpg'%}" alt="">
    </div>
    <div class="container">
        <h1 id="service-h1">Services</h1>
        <div class="service-section">
            <div class="service">
                <h2>Tooth extraction facility</h2>
                <img src="{%static 'images/tooth.jpg'%}" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora autem animi quidem mollitia odio illum rem delectus accusantium sequi expedita id non eos eveniet facilis cum quod consequatur, quaerat repellat.</p>
            </div>
            <div class="service">
                <h2>High class Library facility</h2>
                <img src="{%static 'images/library.jpg'%}" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur, mollitia ab maiores vel vitae libero id! Aspernatur perferendis voluptatem nam dicta sapiente neque eaque ut commodi, nisi adipisci, assumenda amet?</p>
            </div>
            <div class="service">
                <h2>Midwifery services</h2>
                <img src="{%static 'images/medical2.jpg'%}" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci magni ad sed maxime quam doloremque eveniet officiis, ducimus neque inventore quisquam asperiores porro, in aliquam nulla voluptatibus alias rem laboriosam.</p>
            </div>
        </div>
    </div>
    
</div>

{%endblock content%}