<nav>
    <div class="container">
        <div class="nav-layout">
            <div>
                <a href="{% url 'home'%}"><h1>Presta College</h1></a><span>
                    {%if user.is_authenticated%}
                    <small>{{user.username}}</small>
                    {%endif%}
                </span> 
            </div>
            <div>
                <ul> 
                    <a href="{% url 'home'%}"><li>Home</li></a>
                    <a href=""><li>Learn</li></a>
                    {%if user.is_authenticated%}
                    <a href=""><li>Student Portal </li></a>
                    <a href="{%url 'logout'%}"><li>logout </li></a>
                    {%else%}
                    <!-- <a href="{%url 'register'%}"><li>Sign up </li></a> -->
                    <a href="{%url 'login'%}"> <li>Sign in </li></a>
                    {%endif%}
                   
                </ul>

            </div>
        </div>
    </div>
</nav>