<nav>
    <div class="container">
        <div class="nav-layout">
            <div>
                <a href="{% url 'home'%}"><h1>Presta Colledge</h1></a>
            </div>
            <ul>
                <a href="{% url 'home'%}"><li>Home</li></a>
                <a href="http://"><li>Learn</li></a>
                <a href="{%url 'register'%}"><li>Sign up </li></a>
                <a href="{%url 'login'%}"> <li>Sign in </li></a>
               
            </ul>
        </div>
    </div>
</nav>